@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/HomePageCss.css" rel="stylesheet" />
</head>
<div class="text-center header">
    <h1 class="display-4">Welcome to MotorcycleShop's Home Page</h1>
</div>
<div class="center">
    <img src="~/css/motorcycle.jpg" alt="Kawasaki ninja" />
</div> 